## swapping 2 numbers

In [1]:
a=20
b=47

In [2]:
c=a
a=b
b=c

In [3]:
a,b

(47, 20)

## if a number is prime or not

In [32]:
a=22
count = 0

In [33]:
if a > 1 :
    for i in range(1,a+1):
        if (a%i)== 0 :
            count = count+1
   
    if count== 2:
        print("a is prime")
    else:
        print ("a is not prime")

a is not prime

In [23]:
a= 33
count=0

 22

In [37]:
if a > 1 :
    for i in range(1,a+1):
        if (a%i) == 0 :
            count = count+1
   
     if count == 2:
    print("a is prime")
     else:
    print ("a is not prime")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

## factorial of a number

In [43]:
a = 5
factorial =1

In [51]:
if a<0:
    
    print("factorial doesnt exist")
    
elif a==0 :
    
    print("factorial is 1")
    
else:
    for i in range (1, a+1):
        
        factorial= factorial*i
        
    print( factorial)

120

In [54]:
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial(n-1)

In [55]:
factorial(5)

120

## fubinocci series

In [56]:
n1=0
n2=1
print (n1)
print (n2)
for i in range(2,10):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

0
1
1
2
3
5
8
13
21
34

## print sum of values in an array

In [65]:
arr= [1,2,3,4,5]
import pandas as pd
import numpy as np

In [67]:
print(np.sum(arr))

15

## print max and min values in an array

In [70]:
arr = [20,304,50,567,33]
l= len(arr)
max= arr[0]

In [71]:
for i in range(1,l):
    if arr[i] > max:
        max= arr[i]

In [72]:
print (max)

567

In [75]:
for i in range (1,l):
    
    if arr[i] < max:
        
        max= arr[i]

In [77]:
print (max)

33

## finding length of the list

In [92]:
list= [1,2,3,4,45]
count=0
l= len(list)

In [93]:
for i in list:
    count= count+1

In [94]:
count

5

## swapping first and last elements in a list

In [95]:
a=[1,2,3,4,5]
size= len(a)
temp = a[0]
a[0] = a[size-1]
a[size-1]= temp

In [96]:
a

[5, 2, 3, 4, 1]

In [97]:
a
a[0],a[-1] = a[-1],a[0]

In [98]:
a

[1, 2, 3, 4, 5]

In [99]:
first= a.pop(0)
last = a.pop(-1)

In [100]:
a[0]= last

In [101]:
a.append(first)

In [10]:
a

[1, 4, 5]

In [5]:
a=[1,2,3,4,5]
a[0],a[1]= a[1],a[0]

In [9]:
a

[1, 4, 5]

In [11]:
first=a.pop(0)
sec= a.pop(1)

In [12]:
a

[4]

In [13]:
a= ["shyam","radhe","shyam"]

In [14]:
a= set(a)

In [15]:
a

{'radhe', 'shyam'}

In [16]:
a=list(a)

In [17]:
a

['radhe', 'shyam']

In [28]:
a= ["shyam","radhe","shyam"]
word = "shyam"
n=2
count = 0

In [29]:
for i in range(0,len(a)):
    if(a[i]==word):
        count = count+1
        if (count==n):
            del a[i]

In [30]:
a

['shyam', 'radhe']

In [31]:
a=[1,2,3,4,5]
count=0

In [49]:
for i in a:
    print(i)
    count=count+1
    if(i==4):
        break

1
2
3
4

In [63]:
a=[3,4,3,5,3]

In [66]:
for i in a:
    if(i%2==0):
        print("no")
  
    else:
        print("yes")

yes
no
yes
yes
yes

## reverse a list

In [86]:
mylist =[1,2,3,4,5]

In [87]:
mylist

[1, 2, 3, 4, 5]

In [88]:
mylist.reverse()

In [89]:
mylist

[5, 4, 3, 2, 1]

In [90]:
mylist

[5, 4, 3, 2, 1]

In [91]:
mylist[::-1]

[1, 2, 3, 4, 5]

## cloning or copying a list

In [92]:
a=[12,54,5,3,56]
b= a.copy()

In [93]:
b

[12, 54, 5, 3, 56]

In [94]:
a=[12,54,5,3,56]

In [97]:
c= [i for i in a]

In [98]:
c

[12, 54, 5, 3, 56]

In [100]:
import pandas as pd
import numpy as np

In [101]:
c

[12, 54, 5, 3, 56]

In [102]:
np.unique(a)

array([ 3,  5, 12, 54, 56])

In [106]:
a=[1,2,2,2,4,5]
np.unique(a)

array([1, 2, 4, 5])

## sum of elements in alist

In [109]:
a= [12,34,56,76,32]
sum(a)

210

In [110]:
total=0

In [111]:
for i in range(0, len(a)):
    total= total+a[i]
print (total)

210

## multiplication

In [112]:
a

[12, 34, 56, 76, 32]

In [114]:
total=1
for i in range (0,len(a)):
    total=total*a[i]
    
print (total)

55566336

In [115]:
a

[12, 34, 56, 76, 32]

In [116]:
np.prod(a)

55566336

## minimum and maximum numbers

In [117]:
a

[12, 34, 56, 76, 32]

In [118]:
min(a)

12

In [119]:
max(a)

76

In [121]:
a.sort()

In [122]:
a

[12, 32, 34, 56, 76]

## if a string is palindrome or not

In [12]:
s= input("enter a string:")
rev= (s[::-1])
rev

enter a string: madam

'madam'

In [13]:
if(rev == s):
    print("it is a palindrome")
else:
    print("it is not a palindrome")

it is a palindrome

## reverse a string

In [20]:
a= "i am ironman"
b= a.split(' ')
b

['i', 'am', 'ironman']

In [21]:
b= (b[-1::-1])
b

['ironman', 'am', 'i']

In [22]:
o= ' '.join(b)
o

'ironman am i'

## checking a substring in a string

In [23]:
a= "annaya pandugadu kaavala?"

In [24]:
b="pandu"

In [25]:
print(a.find(b))

7

In [26]:
if (a.find(b)== -1):
    print("string not found")
else:
    print("found")

found

## finding length of a string

In [27]:
a="pandu"
count=0
for i in a:
    count=count+1
count

5

In [28]:
a="pandu"
count=0
while a[count:]:
    count= count+1
count

5

In [29]:
a
len(a)

5

## check if a string contains a special character

In [30]:
n= "generat*r p@guluddi%%"
import re

In [32]:
regex= re.compile('[*%@]')

In [33]:
regex.search(n)